html, body, #root {
  height: 100%;
}

.App {
  background-color: #333;
  color: white;
  min-height: 100%
}

.App a {
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-route {
  padding: 16px 48px
}

.label {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
}

.label.small {
  padding: 0.25rem 1rem;
  font-size: 0.7rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.button.small {
  padding: 0.5rem 1.25rem;
  font-size: 0.9rem;
}

.button:hover {
  background-color: white;
  color: #333;
}

.row {
  display: flex;
  margin-bottom: 16px;
}

.hidden {
  display: none;
}

.MangaList-list, .SearchList {
  max-width: 100%;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media (min-width: 1500px) {
  .MangaList-list, .SearchList {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 1499px) and (min-width: 1000px) {
  .MangaList-list, .SearchList {
    grid-template-columns: auto auto;
  }
}
