.MangaDetail {
}

.MangaDetail-cover {
  width: 150px
}

.MangaDetail-cover img {
  max-width: 100%;
}

.MangaDetail-info {
  padding-left: 16px;
}

.MangaDetail-info .button {
  margin: 0 8px 8px 0;
}
